.main-page-calendar{
	display: block;
	height: calc(50% - 25px);
	margin-top: 0px;
	width: calc(100% - 10px);
	margin-bottom: 25px;
}

.vacation-dates-container{
	height: 100%;
	width: 50%;
	padding-top:25px;
	margin-right: 0px;
	/* float:left; */
	
}
.main-page-container{
	height: calc(100% - 50px);
	display: inline-block;
	width: 100%;
}
.day-name-calendar{
	font-size: 20px;
	width:calc(100%/7);
	height:100%;
	display:inline-block;
	text-align:center;
}
.dates-and-salary-container{
	padding-top: 25px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:25px;
	width: 50%;
    float: right;
    position: absolute;
    right: 0;
    top: 50px;
    height: calc(100% - 50px);
}
.dates-display-container{
	height: calc(35% - 16px);
	width: calc(50% - 8px);
	float: left;
	margin: 8px 8px 13px 0;
	border: 2px solid;
	border-radius:5px;
	
}
.salary-display-container{
	height: calc(35% - 16px);
	width: calc(50% - 8px);
	float: right;
	margin: 8px 0 13px 8px;
	border: 2px solid;
	border-radius:5px;
}
.number-display-row{
	height:25%;
	text-align:center;
	font-size:15px;
	/* padding: 5px 0; */
	padding-top : calc(12.5% - 25px);
}
.dates-percentage-bar, .progress-bar{
	height: 20px !important;
	font-size: 1.3rem;
}
.start-and-end-dates{
	height:20px;
}
.start-date-container{
	float:left;
	height:20px;
}
.end-date-container{
	float:right;
}

.meal-display-container{
	border : 2px solid;
	border-radius:5px;
	display:inline-block;
	height: calc(65% - 45px);
	width: 100%;
}